a {
  color: orange;
  &:visited {
    color: blue;
  }

  &:hover {
    color: red;
  }

  &:focus {
    color: green;
  }

  &:active {
    color: purple;
  }
}

div {
  & span {
    color: olive;
    &:not(.cls) {
      color: purple;
    }
    // &:last-child {
    //   color: purple;
    // }
    // &:nth-child(2) {
    //   color: green;
    // }
    // &:nth-child(3) {
    //   color: yellow;
    // }
  }
  
}