a {
  color: orange;
  &:visited {
    color: blue;
  }

  &:hover {
    color: red;
  }

  &:focus {
    color: green;
  }

  &:active {
    color: purple;
  }
}

div {
  & span {
    color: olive;
    &:not(.cls) {
      color: purple;
    }
    // &:last-child {
    //   color: purple;
    // }
    // &:nth-child(2) {
    //   color: green;
    // }
    // &:nth-child(3) {
    //   color: yellow;
    // }
  }
}

.three-dot-spinner {
  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: black;
    border-radius: 50%;
    animation: sk-bouncedelay 1.4s infinite;

    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        animation-delay: -0.32s / $i;
      }
    }
  }
}
@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}